{% extends 'customer/base.html' %} {% load static %}
{% block title %} E - tech - Add to Cart {% endblock title %}
{% block content %}
<div class="Shopping-cart-area pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="#">
          <div class="table-content table-responsive">
            <table class="table" id="table">
              <thead>
                <tr>
                  <th class="cart-product-name">Product</th>
                  <th class="li-product-price">Unit Price</th>
                  <th class="li-product-quantity">Quantity</th>
                  <th class="li-product-subtotal">Total</th>
                </tr>
              </thead>
              <tbody id="tHead">

              </tbody>
            </table>
          </div>
          <!--<div class="row">
            <div class="col-12">
              <div class="coupon-all">
                <div class="coupon">
                  <input
                    id="coupon_code"
                    class="input-text"
                    name="coupon_code"
                    value=""
                    placeholder="Coupon code"
                    type="text"
                  />
                  <input
                    class="button"
                    name="apply_coupon"
                    value="Apply coupon"
                    type="submit"
                  />
                </div>
                <div class="coupon2">
                  <input
                    class="button"
                    name="update_cart"
                    value="Update cart"
                    type="submit"
                  />
                </div>
              </div>
            </div>
          </div>-->
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="cart-page-total">
                <h2>Cart totals</h2>
                <ul>
                  <li>Total <span id="finalTotal">12</span></li>
                </ul>
                <a href="/customer/checkout">Proceed to checkout</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

function increament(id) {
  document.getElementById(`qty${id}`).value++
  updateValue(id);
}
function decreament(id) {
  if (document.getElementById(`qty${id}`).value == 1) {
    document.getElementById(`qty${id}`).value = 1;
  }
  else {
    document.getElementById(`qty${id}`).value--;
    updateValue(id);
  }
}

function updateValue(id) {
  let qty = Number.parseInt(document.getElementById(`qty${id}`).value);
  let price = Number.parseInt(document.getElementById(`price${id}`).innerHTML);
  let total = qty * price;
  document.getElementById(`total${id}`).innerHTML = total;
  findFinalTotal();
  updateCart(id);
}

if (localStorage.getItem('cart') == null) {
  let myStr = `<h1> Add Some Items Before Checkout </h1>`;
  $('#table').innerHTML = myStr;
}
else {
  cart = JSON.parse(localStorage.getItem('cart'));
  document.getElementById('cartTotal').innerHTML = Object.keys(cart).length;
}


if ($.isEmptyObject(cart)) {
  mystr = `Your cart is empty ,plaese add some items to your cart before checking out !`;
  document.getElementById('items').innerHTML = mystr;

}
else {

  for (item in cart) {
    let name = cart[item][0];
    let price = cart[item][1];

    let id = item.substring(2,);

    mystr = `  <tr>
      
        <td class="li-product-name">
          <a href="#"> ${name} </a>
        </td>
        <td class="li-product-price">
          <span class="amount" id="price${id}">${price}</span>
        </td>
        <td class="quantity">
          <label>Quantity</label>
          <div class="cart-plus-minus">
            <input
              class="cart-plus-minus-box"
              value="1"
              type="text" id="qty${id}"
            />
            <div class="dec qtybutton" onclick="decreament(${id})">
              <i class="fa fa-angle-down" ></i>
            </div>
            <div class="inc qtybutton" onclick="increament(${id})">
              <i class="fa fa-angle-up"></i>
            </div>
          </div>
        </td>
        <td class="product-subtotal">
          <div class="amount" id="total${id}">${price}</div>
        </td>
      </tr>`;
    $('#tHead').append(mystr);
  }
  findFinalTotal();
}

function findFinalTotal() {
  let sum = 0;

  for (item in cart) {
    let id = item.substring(2,);
    sum += Number.parseInt(document.getElementById(`total${id}`).innerHTML.trim());
  }
  document.getElementById('finalTotal').innerHTML = sum;
  localStorage.setItem('total',sum);
}

function updateCart(id) {
  var idstr = "pr" + id;
  cart[idstr][2] = Number.parseInt(document.getElementById(`qty${id}`).value);
  localStorage.setItem('cart', JSON.stringify(cart));
}


{% endblock %}
